<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Quicksilver captures system audio so it can analyze currently playing audio.</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://stanleykywu.github.io/quicksilver-macos/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>VE2+0kQlMkOlPfjVeoN4dodHhzhxnMLt6qqqe8gYH5g=</string>
</dict>
</plist>
